.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.mdl-layout .mdl-layout__drawer-button{
  display: none;
}
.popover {
  max-width: 80%;
  position: relative;
}
.popover p{
  margin-bottom: 0;
}
.btn.btn-default {
  width: 100%;
  display: block;
  margin: 6px;
  border-radius: 25px;
}
.pageHeader {
  font-weight: bold;
}

.lastPage {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
}
span.mdl-layout-title{
  text-align: center;
}
.mdl-layout__header.is-casting-shadow {
  background-color: #563322;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
