.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.mdl-layout .mdl-layout__drawer-button{
  display: none;
}
.btn{
  width:100%;
  display:block;
  border-radius: 25px;
  text-transform: none;
  margin-bottom: 10px;
}
nav {
  background-color: transparent;
  box-shadow: none;
}
div.jumbotron {
  border-radius: 0 !important;
}
strong{
  font-weight: bold;
}
/*.btn.btn-default {
  width: 100%;
  display: block;
  margin: 6px;
  border-radius: 25px;
}*/
.pageHeader {
  font-weight: bold;
}

.lastPage {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
}
span.mdl-layout-title{
  text-align: center;
  padding-left:0 !important;
}

.mdl-layout__header.is-casting-shadow {
  background-color: #563322;
}
.mdl-button{
  right: 100%;
}
.biggerIcon .material-icons {
  color: white;
    font-size: 30px;
}
.btn-flat{
  background-color: #563322;
  color:white;
}
.navButton {
  background-color: #4CAF50;
}
.navButton:hover, .navButton:focus {
  background-color: #43A047;
  color:white;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
